@model IEnumerable<CarServiceManagementSystem.Models.tbl_customer>

@{
    ViewBag.Title = "ManageCustomer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts{ 
<script src="~/assets/js/customJs.js"></script>
}
<div class="nk-content ">
    <div class="container-fluid">
        <div class="nk-content-inner">
            <div class="nk-content-body">
                <div class="nk-block-head nk-block-head-sm">
                    <div class="nk-block-between">
                        <div class="nk-block-head-content">
                            <h3 class="nk-block-title page-title">Customers List</h3>
                            <div class="nk-block-des text-soft">
                                <p>You have total @ViewBag.count customers.</p>
                            </div>
                        </div><!-- .nk-block-head-content -->
                        <!--<div class="nk-block-head-content">
                            <div class="toggle-wrap nk-block-tools-toggle">
                                <a href="#" class="btn btn-icon btn-trigger toggle-expand mr-n1" data-target="pageMenu"><em class="icon ni ni-menu-alt-r"></em></a>
                                <div class="toggle-expand-content" data-content="pageMenu">
                                    <ul class="nk-block-tools g-3">
                                        <li class="nk-block-tools-opt">
                                            <div class="drodown">
                                                <a href="#" class="dropdown-toggle btn btn-icon btn-primary" data-toggle="dropdown"><em class="icon ni ni-plus"></em></a>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <ul class="link-list-opt no-bdr">
                                                        <li><a href="User/AddUser"><span>Add User</span></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>--><!-- .toggle-wrap -->
                        <!--</div>--><!-- .nk-block-head-content -->
                    </div><!-- .nk-block-between -->
                </div><!-- .nk-block-head -->
                <div class="nk-block">
                    <div class="card card-bordered card-stretch">
                        <div class="card-inner-group">
                            <div class="card-inner p-0">
                                <div class="nk-tb-list nk-tb-ulist">

                                    <div class="nk-tb-item nk-tb-head">

                                        <div class="nk-tb-col"><span class="sub-text">Name</span></div>
                                        <div class="nk-tb-col tb-col-md"><span class="sub-text">Contact</span></div>
                                        <div class="nk-tb-col tb-col-lg"><span class="sub-text">Address</span></div>
                                        <div class="nk-tb-col tb-col-lg"><span class="sub-text">Booking Status</span></div>
                                        <div class="nk-tb-col tb-col-lg"><span class="sub-text">Rating</span></div>
                                        <div class="nk-tb-col tb-col-lg"><span class="sub-text">Action</span></div>

                                    </div><!-- .nk-tb-item -->
                                    @foreach (var item in Model)
                                    {
                                       
                                        char f = item.firstname[0];
                                        char l = item.lastname[0];
                                <div class="nk-tb-item">
                                    <div class="nk-tb-col">
                                        <a href="html/general/user-details-regular.html">
                                            <div class="user-card">
                                                <div class="user-avatar bg-primary">
                                                    <span>@f@l </span>
                                                </div>
                                                <div class="user-info">
                                                    <span class="tb-lead">@Html.DisplayFor(x => item.firstname) @Html.DisplayFor(x => item.lastname) <span class="dot dot-success d-md-none ml-1"></span></span>
                                                    <span>@Html.DisplayFor(x => item.username)</span>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="nk-tb-col tb-col-lg">
                                        <span>@Html.DisplayFor(x => item.contact)</span>
                                    </div>
                                    <div class="nk-tb-col tb-col-lg">
                                        <span>@Html.DisplayFor(x => item.address)</span>
                                    </div>
                                    @if (item.isBooked)
                                    {
                                        var status = "Booked";
                                        <div class="nk-tb-col tb-col-md">
                                            <span class="tb-status text-danger ">@Html.DisplayFor(x => status)</span>
                                        </div>
                                    }
                                    else
                                    {
                                        var status = "Available";
                                        <div class="nk-tb-col tb-col-md">
                                            <span class="tb-status text-success">@Html.DisplayFor(x => status)</span>
                                        </div>
                                    }
                                    <div class="nk-tb-col tb-col-lg">
                                        <span>@Html.DisplayFor(x => item.address)</span>
                                    </div>
                                    <div class="nk-tb-col nk-tb-col-tools">
                                        <ul class="nk-tb-actions gx-1">                                            
                                            <li class="nk-tb-action-hidden">
                                                <a href="@Url.Action("DeleteCustomer", "Admin", new { id = item.id })" class="btn btn-danger eg-swal-av3" data-toggle="tooltip" data-placement="top" title="Delete" data-employee-id="@item.id">
                                                    <em class="icon ni ni-delete"></em>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                    }
                                    <!-- .nk-tb-item -->

                                </div><!-- .nk-tb-list -->
                            </div><!-- .card-inner -->
                            
                            <!--</div>--> @*.nk-block-between*@
                        </div><!-- .card-inner -->
                    </div><!-- .card-inner-group -->
                </div><!-- .card -->
            </div><!-- .nk-block -->
        </div>
    </div>
</div>

