@model CarServiceManagementSystem.Models.tbl_order

<div class="nk-content ">
    <div class="container-fluid">
        <div class="nk-content-inner">
            <div class="nk-content-body">
                <div class="nk-block-head nk-block-head-sm">
                    <div class="nk-block-between g-3">
                        <div class="nk-block-head-content">
                            <h3 class="nk-block-title page-title">Customer/ <strong class="text-primary small">@Model.tbl_customer.username </strong></h3>
                            <div class="nk-block-des text-soft">
                                <ul class="list-inline">
                                    <li>Order ID: <span class="text-base">@Model.id</span></li>
                                </ul>
                            </div>
                        </div>
                        @*<div class="nk-block-head-content">
                                <a href="Customer/BookAMechanic" class="btn btn-outline-light bg-white d-none d-sm-inline-flex"><em class="icon ni ni-arrow-left"></em><span>Back</span></a>
                                <a href="Customer/BookAMechanic" class="btn btn-icon btn-outline-light bg-white d-inline-flex d-sm-none"><em class="icon ni ni-arrow-left"></em></a>
                            </div>*@
                    </div>
                </div><!-- .nk-block-head -->
                <div class="nk-block">
                    <div class="card card-bordered">
                        <div class="card-aside-wrap">
                            <div class="card-content">
                                <ul class="nav nav-tabs nav-tabs-mb-icon nav-tabs-card">
                                    <li class="nav-item">
                                        <a class="nav-link active" href="#"><em class="icon ni ni-user-circle"></em><span>Details</span></a>
                                    </li>
                                </ul><!-- .nav-tabs -->
                                <div class="card-inner">
                                    <div class="nk-block">
                                        <div class="nk-block-head">
                                            <h5 class="title">Order Summary</h5>
                                        </div><!-- .nk-block-head -->
                                        <div class="profile-ud-list">

                                            <div class="profile-ud-item">
                                                <div class="profile-ud wider">
                                                    <span class="profile-ud-label">Customer Name</span>
                                                    <span class="profile-ud-value">@Model.tbl_customer.firstname @Model.tbl_customer.lastname</span>
                                                </div>
                                            </div>
                                            <div class="profile-ud-item">
                                                <div class="profile-ud wider">
                                                    <span class="profile-ud-label">Mechanic Name</span>
                                                    <span class="profile-ud-value">@Model.tbl_mechanic.firstname @Model.tbl_mechanic.lastname</span>
                                                </div>
                                            </div>
                                            <div class="profile-ud-item">
                                                <div class="profile-ud wider">
                                                    <span class="profile-ud-label">Order Date</span>
                                                    <span class="profile-ud-value">@Model.order_date.ToLongDateString()</span>
                                                </div>
                                            </div>
                                            <div class="profile-ud-item">
                                                <div class="profile-ud wider">
                                                    <span class="profile-ud-label">Order Time</span>
                                                    <span class="profile-ud-value">@Model.order_date.ToShortTimeString()</span>
                                                </div>
                                            </div>
                                            <div class="profile-ud-item">
                                                <div class="profile-ud wider">
                                                    <span class="profile-ud-label">Garage Name</span>
                                                    <span class="profile-ud-value">@Model.tbl_mechanic.garageName</span>
                                                </div>
                                            </div>
                                            <div class="profile-ud-item">
                                                <div class="profile-ud wider">
                                                    <span class="profile-ud-label">Service</span>
                                                    <span class="profile-ud-value">@Model.service</span>
                                                </div>
                                            </div>
                                            @if (Model.status.Equals("completed"))
                                            {

                                                <div class="profile-ud-item">
                                                    <div class="profile-ud wider">
                                                        <span class="profile-ud-label">Customer Review</span>
                                                        <span class="profile-ud-value">@ViewBag.completed.customer_review</span>
                                                    </div>
                                                </div>
                                                <div class="profile-ud-item">
                                                    <div class="profile-ud wider">
                                                        <span class="profile-ud-label">Mechanic Review</span>
                                                        <span class="profile-ud-value">@ViewBag.completed.mechanic_review</span>
                                                    </div>
                                                </div>
                                                <div class="profile-ud-item">
                                                    <div class="profile-ud wider">
                                                        <span class="profile-ud-label">Customer Rating</span>
                                                        <span class="profile-ud-value">@ViewBag.completed.client_rating</span>
                                                    </div>
                                                </div>
                                                <div class="profile-ud-item">
                                                    <div class="profile-ud wider">
                                                        <span class="profile-ud-label">Mechanic Rating</span>
                                                        <span class="profile-ud-value">@ViewBag.completed.mechanic_rating</span>
                                                    </div>
                                                </div>
                                                <div class="profile-ud-item">
                                                    <div class="profile-ud wider">
                                                        <span class="profile-ud-label">Date Completed</span>
                                                        <span class="profile-ud-value">@ViewBag.completed.complete_date.Date.ToLongDateString()</span>
                                                    </div>
                                                </div>
                                            }
                                            else if (Model.status.Equals("cancelled"))
                                            {
                                                <div class="profile-ud-item">
                                                    <div class="profile-ud wider">
                                                        <span class="profile-ud-label">Cancelled By</span>
                                                        <span class="profile-ud-value">@ViewBag.cancelled_by</span>
                                                    </div>
                                                </div>
                                            }
                                        </div><!-- .profile-ud-list -->
                                    </div><!-- .nk-block -->
                                    <div class="nk-divider divider md"></div>
                                </div><!-- .card-inner -->
                            </div><!-- .card-content -->

                        </div><!-- .card-aside-wrap -->
                    </div><!-- .card -->
                </div><!-- .nk-block -->
            </div>
        </div>
    </div>
</div>